[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-zsh/custom/plugins/vscode"]
	path = oh-my-zsh/custom/plugins/vscode
	url = https://github.com/valentinocossar/vscode
	ignore = dirty
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	ignore = dirty
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	ignore = dirty
[submodule "oh-my-zsh/custom/themes/dracula/zsh"]
	path = oh-my-zsh/custom/themes/dracula/zsh
	url = https://github.com/dracula/zsh
	ignore = dirty
[submodule "vim/pack/vendor/start/ack.vim"]
	path = vim/pack/vendor/start/ack.vim
	url = https://github.com/mileszs/ack.vim
	ignore = dirty
[submodule "vim/pack/vendor/start/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
	ignore = dirty
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree
	ignore = dirty
[submodule "vim/pack/vendor/start/vim-easymotion"]
	path = vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
	ignore = dirty
